body {
  font-family: 'Bruno Ace SC', cursive;
  line-height: 1.5;
  font-size: 16px;
}

.container {
  // 86(width) x 12(count) + 24(gutter) x 11
  max-width: 1296px;
  margin: 0 auto;
}


// padding
// margin-x
// margin-y
// margin-top
// margin-bottom
// margin-left
// margin-right
